<div class="container-fluid mx-auto" style="margin-top: 4rem;">
	<div class="row justify-content-center top-part">
		<div class="col-md-6 text-center center-content">
			<div class="d-flex-inline">
				<h3 class="footer-heading">Servicio de Pastelería</h3>
			</div>
			<div class="d-flex-inline">
				<p>Creado por Javier Guarda para desafío Latam, 2021</p>
			</div>
			<div class="d-flex-inline pt-2">
				<button class="btn-pink btn">Contáctanos</button>
			</div>
		</div>
	</div>

	<div class="row bottom-part">
		<div class="d-lg-flex justify-content-between bd-highlight col-md-12 mb-5 px-5">
			<div class="p-2 align-self-center flex-fill bd-highlight">

			</div>
		</div>
	</div>
</div>
