
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme= "dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">OnlyFlans</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/acerca">Acerca</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/bienvenido">Bienvenido</a>
          </li>
          {%endif%}
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contacto</a>
          </li>
        </ul>
        <div class="d-flex" role="search">
          {% if user.is_authenticated %}
          <span class="d-inline-block m-3 text-light" style="font-size: 1.2rem;">Hola {{user.username}}</span>
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">LOGOUT</button>
          </form>           
          {%else%}
          <a href="{% url 'login' %}" class="btn btn-primary" style="margin-right: 1rem; margin-top: 0.5rem; margin-bottom: 0.5rem;">LOGIN</a>
          {%endif%}
        </div>
      </div>
    </div>
</nav>

