{%extends 'base.html' %}

{%block content%}

<div>
    <h1 class="text-center" style="margin-top: 4rem;">Iniciar Sesión</h1>
</div>
<div class="row">
    <div class="col-4"></div>
</div>

<div class="row" style="margin-top: 2rem;">
    <div class="col-6 d-inline-block mx-auto">
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>El nombre de usuario y/o la contraseña son incorrectos</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {%endif%}
        <form action="{% url 'login' %}" method="post">
            {%csrf_token %}

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label text-center">Username</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre" name = "{{form.username.name}}" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label text-center">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name = "{{form.password.name}}" required>
            </div>
            <button type="submit" class="btn btn-primary" style = 'margin-top: 2rem;'>Iniciar Sesión</button>
        </form>
    </div>
</div>
</div>
{%endblock%}