{%extends 'base.html' %}
{%block css%}
<style>
    /* The animation code */
    @keyframes girar {
    50% {
        rotate: y 180deg}
    100% {
        rotate: y 360deg;
        }
    }
    

    .gira-sobre-eje:hover {
        animation: girar;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
</style>
{%endblock%}

{%block content%}
{% if user.is_authenticated %}
 <p class="text-center" style="font-size: 2rem; margin-top: 4rem;">Bienvenido, {{ user.username }}.</p>
{% else %}
 <p class="text-center" style="font-size: 2rem; margin-top: 4rem;">Bienvenido Cliente</p>
{% endif %}


<div class="container">
    <div class="row">
            {%for prod in flan%}
                <div class="col-md-3 mb-4">
                    <a href="{{prod.id}}" style="text-decoration: NONE;">
                        <div class="card" style="width: 100%; margin-top: 5rem;  background-color: rgb(238, 236, 236);">
                                <img src="{{prod.foto}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{prod.nombre}}</h5>
                                <p class="card-text">${{prod.precio}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %} 
        </div>    
    </div>
</div>
        

{%endblock%}