{%extends 'base.html' %}

{%block content%}
{% if user.is_authenticated %}
 <p class="text-center" style="font-size: 2rem; margin-top: 4rem;">Bienvenido, {{ user.username }}.</p>
{% else %}
 <p class="text-center" style="font-size: 2rem; margin-top: 4rem;">Bienvenido Cliente</p>
{% endif %}


<div class="container">
    <div class="row">
            {%for prod in flan%}
                <div class="col-md-3 mb-4">    
                    <div class="card text-bg-info p-3" style="width: 100%; margin-top: 5rem;">
                    <img src="{{prod.foto}}" class="card-img-top" alt="...">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item">{{prod.nombre}}</li>
                        <li class="list-group-item">${{prod.precio}}</li>
                    </ul>
                </div>
            </div>
            {% endfor %} 
        </div>    
    </div>
</div>
        

{%endblock%}